h2,
h3,
h4 {
  font-family: "DM Mono";
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.125rem;
}

h3,
h4 {
  font-size: 1rem;
}

.filters {
  min-width: 256px;
  width: 256px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--color-glass);
  border: 1px solid var(--color-glass);
  border-radius: var(--rounding);

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters-title {
  margin-bottom: 16px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
