@import url("./fonts/dmmono.css");

:root {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-primary: #164ee9;
  --color-secondary: #5280ff;
  --color-glass: #9c9c9c14;

  --rounding: 8px;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 24px;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
